<div id="main-wrapper">
  <!-- ==================================================-->
  <!--TOB BAR COMPONENT-->
  <!-- ==================================================-->
  <app-header-bar></app-header-bar>

  <!-- ==================================================-->
  <!--ASIDE BAR COMPONENT-->
  <!-- ==================================================-->
  <app-side-bar></app-side-bar>

  <!-- ==================================================-->
  <!--PAGE WRAPER-->
  <!-- ==================================================-->
  <div class="page-wrapper">

    <!-- ==================================================-->
    <!--BOOTSTRAP CONTAINER-->
    <!-- ==================================================-->
    <div class="container-fluid">

      <!-- ==================================================-->
      <!--BREADCRUMS COMPONENT-->
      <!-- ==================================================-->
      <app-breadcrums></app-breadcrums>

      <!-- ==================================================-->
      <!--SECTION COMPONENT-->
      <!-- ==================================================-->

      <!-- ==================================================-->
      <!-- ROUTER COMPONENT -->
      <!-- ==================================================-->
      <router-outlet></router-outlet>

    </div>
    <!-- ==================================================-->
    <!--END BOOTSTRAP CONTAINER-->
    <!-- ==================================================-->

  </div>
  <!-- ==================================================-->
  <!--END PAGE WRAPER-->
  <!-- ==================================================-->

</div>

