<div class="row">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title" >Foto del usuario del usuario</h4>



        <div >

          <!-- ==================================================-->
          <!--Vista previa de la imagen del usuario-->
          <!-- ==================================================-->

          <!--Si no hay imagen selecionada se muestra la imagen actual del usuario-->
          <img *ngIf="!selected_image" [src]="current_user.user_img | image"  class="view-profile-img" />

          <!--Si se ha selecionado una imagen se muestrara la imagen selecionada-->
          <img *ngIf="selected_image" [src]="selected_image"  class="view-profile-img" />


          <!-- ==================================================-->
          <!--Imput para subir imagen del usuario-->
          <!-- ==================================================-->
          <!-- Al cambiar el archivo de este equipo se ejecutara la funcion updateImage() que recibirá como parametro el archivo -->
          <input (change)="selectImage($event.target.files[0])" class="file-input" type="file"/>

        </div>




        <button (click)="updateImage()" [disabled]="!new_image" type="submit" class="btn btn-success waves-effect waves-light m-r-10 margin-top-20">
          <i class="fa fa-save"></i>
          Actualizar foto
        </button>

      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Vista y configuración de los datos del usuario</h6>
        <form ngNativeValidate #f="ngForm" (ngSubmit)="save(f.value)" class="form p-t-20">
          <div class="form-group">
            <label for="Inputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <!-- imput  para el nombre del usuario-->
              <input [ngModel]="current_user.user_name" name="name" type="text" class="form-control" id="Inputuname" placeholder="Nombre" required>
            </div>
          </div>
          <div class="form-group">
            <label for="InputEmail">Correo electronico</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <!--imput para el correo electronico que tendra desactivada la edición si el usuario es de google-->
              <input [ngModel]="current_user.user_mail" [disabled]="current_user.user_google_auth" name="mail" type="email" class="form-control" id="InputEmail" placeholder="Correo electronico" required>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar
          </button>

        </form>
      </div>
    </div>
  </div>





</div>
