
<h4>Incrementador</h4>

<div class="input-group">



  <!--botton - para bajar un 5% el valor de la barra de proceso-->
  <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="changeProgressValue(-5)">
                <i class="mdi mdi-minus"></i> 5
              </button>
            </span>

  <!-- Input editable del valor de la barra de pogreso -->
  <input  type="number" class="form-control" [(ngModel)]="progress" >

  <!--botton + para subir un 5% el nivel de la barra de proceso-->
  <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="changeProgressValue(+5)">
                <i class="mdi mdi-plus"></i> 5
              </button>
            </span>

</div>

<!-- si el valor introducido para la barra de progreso no esta entre 0 y 100 se muestra un error -->
<div *ngIf="progress > 100 || progress < 0">

  <div class="alert alert-danger" role="alert" style="margin-top:1%">
    ERROR : El valor de la barra de progreso debe de estar comprendido entre 0 y 100
  </div>

</div>
