#themecolors a{
  cursor:pointer;
}
.pointer{
  cursor:pointer;
}

.margin-top-10{
   margin-top:10px;
}

.margin-top-20{
  margin:20px
}


.view-profile-img{
  width:50%;
  display:block;
  margin:0 auto;
}

.file-input{
  margin-top:10px;
  margin-left:30%;
  color:transparent;
}

.list-image{
  width:50px;
}
